@use "styles/_globals.scss" as *;


.firstContent {
    @extend .mb-lg;


    & .future__title {
        @extend .mb-lg;

        &__h2 {
            @extend .font-xl;
        }
    }



    &__title {
        position: relative;
        @extend .mb-md;
        max-width: 500px;

        &::before {
            content: "";
            width: 90vw;
            max-width: 500px;
            height: 1px;
            background-color: $cBlack;
            position: absolute;
            bottom: 0;
        }

        &::after {
            content: "03";
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &__span {
            @extend .font-sm;
        }
    }

    &__inner {
        position: relative;

        @include mq(lg){
            height: 500px;
            display: flex;
            justify-content: space-between;
            gap: 100px;

        }

        &__description {
            @extend .mb-md;
            max-width: 500px;

            @include mq(lg){
                flex: 1;
                margin-bottom: 0;
            }


            &__h3 {
                @extend .font-lg;
                @extend .mb-md;
            }

            &__p {}
        }



        &__image {
            position: relative;
            width: 100%;
            height: 250px;
            @extend .mb-lg;

            @include mq(md){
                height: 300px;
            }

            @include mq(lg){
                flex: 1;
                height: 500px;
                margin-right: calc(50% - 50vw);
            }

            &__img1,
            &__img2 {
                overflow: hidden;
                width: 100%;
                height: 100%;

                & img {
                    width: 100%;
                    max-width: 450px;
                    height: 100%;
                    opacity: 0;
                    object-fit: cover;
                    object-position: center;
                    position: absolute;
                    top: 0;
                    left: 0;

                    &:nth-child(1){
                        animation: firstImgViewScale 30s infinite;
                        animation-delay: 0s;
                    }
                    &:nth-child(2){
                        animation: imgViewScale 30s infinite;
                        animation-delay: 10s;
                    }
                    &:nth-child(3){
                        animation: imgViewScale 30s infinite;
                        animation-delay: 20s;
                    }

                    @keyframes firstImgViewScale {
                        0%{ opacity: 1; transform: scale(1);}
                        30%{ opacity: 1;}
                        36%{ opacity: 1; transform: scale(1.15);}
                        45%{ opacity: 0;}
                        100%{ opacity: 0;}
                    }
                    @keyframes imgViewScale {
                        0%{ opacity: 0; transform: scale(1);}
                        30%{ opacity: 1;}
                        36%{ opacity: 1; transform: scale(1.15);}
                        45%{ opacity: 0;}
                        100%{ opacity: 0;}
                    }
                }
            }

            &__img1 {
                width: 45vw;
                height: 200px;
                position: absolute;
                top: 50PX;
                left: -6%;

                @include mq(md){
                    height: 250px;
                }

                @include mq(lg){
                    top: 0;
                    left: auto;
                    right: -30%;
                }
            }

            &__img2 {
                width: 65vw;
                max-width: 500px;
                height: 150px;
                position: absolute;
                top: 0;
                right: -6%;

                @include mq(md){
                    width: 35vw;
                    height: 200px;
                }

                @include mq(lg){
                    width: 25vw;
                    height: 350px;
                    top: auto;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}