@use "styles/_globals.scss" as *;

.holizon__scroll{
    width: 150px;
    height: auto;
    position: absolute;

    &__bar{
        display: block;
        width: 150px;
        height: 1px;
        background-color: white;
        transform: scaleX(0);
        animation: holizonBarAnimation 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;

        @keyframes holizonBarAnimation {
            0%{
                transform: scaleX(0);
                transform-origin: right;
            }
            50%{
                transform: scaleX(1);
                transform-origin: right;
            }
            51%{
                transform: scaleX(1);
                transform-origin: left;
            }
            100%{
                transform: scaleX(0);
                transform-origin: left;
            }

        }
    }
    &__text{
        color: white;
    }
}