@use "styles/_globals.scss" as *;

.homeInfo {
    @extend .mb-lg;
    &__title {
        &__h2 {}

        &__span {}
    }

    &__link {

        @include mq(md){
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
        }

        &__button{
            @extend .mb-md;
            flex: 1;
            max-width: 350px;

            & img{
                height: 200px;

                @include mq(lg){
                    height: 250px;
                }
            }
        }

    }

}