@use "styles/_globals.scss" as *;

.confirmation {
    width: 100%;


    &__title {
        @extend .font-lg;
        @extend .mb-md;
        text-align: center;
    }

    &__list {
        width: 100%;

        &__item {
            width: 100%;
            display: block;
            @extend .mb-sm;
            text-align: left;

            & th{
                width: 120px;
            }
            & td{
                display: inline-block;
                width: 100%;
                white-space: pre-wrap;
            }
        }
    }



    & .modification__button {}

    & .submit__button {}
}
