@use "styles/_globals.scss" as *;

.worksContents {
    @extend .mb-lg;

    &__inner {

        &__title {
            position: relative;
            display: flex;
            @extend .mb-md;

            @include mq(md) {
                gap: 50px;
            }

            &__bar{
                width: 48%;
                height: 1px;
                background-color: $cBlack;
                position: absolute;
                transform-origin: left;
            }

            &__h3 {
                position: relative;
                flex: 1;
                @extend .font-lg;
                white-space: nowrap;
                z-index: 10;

                & span {
                    @extend .font-sm;
                    padding: 3px 5px;
                    position: absolute;
                    bottom: 40%;
                    right: 3%;
                    border: 1px solid $cBlack;
                }
            }

            &__image {
                flex: 1;
                height: 250px;

                @include mq(lg) {
                    height: 350px;
                }

                @include mq(xl) {
                    height: 450px;
                }

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
        }



        &__headline {
            @extend .mb-md;
        }

        &__description {
            @extend .mb-md;

            @include mq(md) {
                width: 65%;
            }
        }
    }

    &__subimage {
        width: 50vw;
        margin-left: calc(50% - 50vw);

        @include mq(md) {
            width: 40vw;
        }

        @include mq(lg) {
            width: 30vw;
        }

        & img {
            width: 100%;
        }
    }
}

.worksContents:nth-of-type(even) {
    & .worksContents__inner {
        &__title {
            flex-direction: row-reverse;

            &__bar{
                transform-origin: right;
            }

            &__h3 {
                left: 3%;

                & span {
                    right: auto;
                    left: 0;
                }
            }
        }

        &__description,
        &__headline{

            @include mq(md){
                margin-left: 30vw;
            }
        }
    }

    & .worksContents__subimage {
        margin-left: auto;
        margin-right: calc(50% - 50vw);
    }
}