@use "styles/_globals.scss" as *;


.homeFuture {
    height: auto;
    position: relative;
    @extend .mb-lg;

    &::before {
        content: "";
        width: 100%;
        height: 80%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $cGreen;
        z-index: -99;
    }

    &__path {
        margin: 0 calc(50% - 50vw);
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }

    &__title {
        padding-top: 200px;

        &__h2{
            color: white !important;

            & span{
                color: white !important;
            }

            &::before{
                background-color: white !important;
            }
        }
    }

    &__description {
        margin: 0 calc(50% - 50vw);
        padding: 15% 10% 20%;
        position: relative;
        bottom: 0;

        @include mq(md) {
            margin: 0 auto;
        }

        &__headline {
            @extend .font-lg;
            @extend .mb-sm;
            color: white;
            position: relative;
            z-index: 1;
            max-width: 600px;

        }

        &__p {
            color: white;
            @extend .mb-md;
            position: relative;
            z-index: 1;
            max-width: 600px;
        }

        & .lgbutton{
            z-index: 10;

            &__holizon{
                background-color: white;

            }
            & span{
                color: white;
            }

            &__arrow{
                &::before,
                &::after{
                    background-color: white;
                }
            }
        }

        &__image {
            width: 85%;
            height: 100%;
            background-image: url(/images/Home/healthy-body.jpg);
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::before {
                content: "";
                width: 100%;
                height: 100%;
                background-color: $cBlack;
                opacity: .35;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }
        }
    }

}