@use "styles/_globals.scss" as *;


.secondContent {
    @extend .mb-lg;


    & .future__title {
        @extend .mb-lg;

        &__h2 {
            @extend .font-xl;
        }
    }



    &__title {
        position: relative;
        @extend .mb-md;
        max-width: 500px;

        &::before {
            content: "";
            width: 90vw;
            max-width: 500px;
            height: 1px;
            background-color: $cBlack;
            position: absolute;
            bottom: 0;
        }

        &::after {
            content: "02";
            position: absolute;
            bottom: 0;
            right: 0;
        }

        &__span {
            @extend .font-sm;
        }
    }

    &__inner {
        position: relative;

        @include mq(md) {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            gap: 30px;
        }

        @include mq(lg) {
            gap: 100px;
            justify-content: start;
        }

        &__description {
            @extend .mb-md;
            max-width: 500px;

            @include mq(md) {
                flex: 1.5;
            }


            &__h3 {
                @extend .font-lg;
                @extend .mb-md;
            }

            &__p {
                @extend .font-md;
            }
        }



        &__image {
            position: relative;
            width: 100%;
            height: auto;

            @include mq(md) {
                flex: 1;
                max-width: 400px;
            }

            &__img {
                height: 100%;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}