@use "styles/_globals.scss" as *;


.content {
    @extend .mb-lg;

    & .future__title {
        @extend .mb-lg;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        &__h2 {
            @extend .font-xl;
        }
    }

    &__title {
        position: relative;
        @extend .mb-md;
        max-width: 500px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

        &__span {
            @extend .font-sm;
            display: inline-block;
            // transform: translateY(100%);

            &__num {
                position: absolute;
                right: 0;
            }

            &__bar{
                width: 90vw;
                max-width: 500px;
                height: 1px;
                background-color: $cBlack;
                position: absolute;
                bottom: 0;
                left: 0;
                transform-origin: right;
            }
        }
    }

    &__inner {
        position: relative;


        @include mq(lg) {
            height: 500px;
            display: flex;
            justify-content: space-between;
            gap: 100px;
        }

        &__description {
            @extend .mb-md;
            max-width: 500px;

            @include mq(lg) {
                flex: 1;
                margin-bottom: 0;
            }


            &__h3 {
                @extend .font-lg;
                @extend .mb-md;
            }

            &__p {}
        }
    }

    &__wrapper {
        &:nth-of-type(2) {

            @include mq(lg){
                margin-bottom: 200px;;
            }

            & .content__inner__image {
                position: relative;
                width: 100%;
                height: 250px;
                @extend .mb-lg;

                @include mq(lg) {
                    flex: 1;
                    height: 500px;
                    margin-right: calc(50% - 50vw);
                    margin-bottom: 0;
                }

                &__img1 {
                    overflow: hidden;
                    width: 45vw;
                    height: 200px;
                    position: absolute;
                    top: 50PX;
                    left: -6%;

                    @include mq(md) {
                        height: 250px;
                    }

                    @include mq(lg) {
                        top: 0;
                        left: auto;
                        right: -30%;
                    }
                }

                &__img2 {
                    overflow: hidden;
                    width: 65vw;
                    max-width: 500px;
                    height: 150px;
                    position: absolute;
                    top: 0;
                    right: -6%;

                    @include mq(md) {
                        width: 35vw;
                        height: 200px;
                    }

                    @include mq(lg) {
                        width: 25vw;
                        height: 350px;
                        top: auto;
                        bottom: 0;
                        left: 0;
                    }
                }

                &__img1,
                &__img2 {

                    & img {
                        width: 100%;
                        max-width: 450px;
                        height: 100%;
                        opacity: 0;
                        object-fit: cover;
                        object-position: center;
                        position: absolute;
                        top: 0;
                        left: 0;

                        &:nth-child(1) {
                            animation: firstImgViewScale 30s infinite;
                            animation-delay: 0s;
                        }

                        &:nth-child(2) {
                            animation: imgViewScale 30s infinite;
                            animation-delay: 10s;
                        }

                        &:nth-child(3) {
                            animation: imgViewScale 30s infinite;
                            animation-delay: 20s;
                        }

                        @keyframes firstImgViewScale {
                            0% {
                                opacity: 1;
                                transform: scale(1);
                            }

                            30% {
                                opacity: 1;
                            }

                            36% {
                                opacity: 1;
                                transform: scale(1.15);
                            }

                            45% {
                                opacity: 0;
                            }

                            100% {
                                opacity: 0;
                            }
                        }

                        @keyframes imgViewScale {
                            0% {
                                opacity: 0;
                                transform: scale(1);
                            }

                            30% {
                                opacity: 1;
                            }

                            36% {
                                opacity: 1;
                                transform: scale(1.15);
                            }

                            45% {
                                opacity: 0;
                            }

                            100% {
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
        &:nth-of-type(3),
        &:nth-of-type(4){
            @extend .mb-lg;

            & .content__inner{

                &__image{

                    &__img1{

                        & img{
                            width: 100%;

                            @include mq(md){
                                width: 50vw;
                                max-width: 300px;
                                margin-left: calc(50% - 0vw);
                            }
                            @include mq(lg){
                                width: 35vw;
                                max-width: 400px;
                                max-height: 500px;
                                margin-left: auto;
                            }
                        }
                    }
                }
            }

        }
        &:nth-of-type(3){
            & .content__inner{
                @include mq(lg){
                    flex-direction: row-reverse;
                }
            }
        }
    }
}