@forward "styles/_mq.scss";
@use "styles/_mq.scss" as *;

/////////////////////////////////////
//　color
/////////////////////////////////////
$cBlack: #333333;
$cGreen: #839C96;
$cOrange: #E1B58B;
$cBcc: #F4F2E0;
$cBlue: #AACBD0;

/////////////////////////////////////
// font-size
/////////////////////////////////////

.font-sm {
    font-size: 10px;

    @include mq(lg) {
        font-size: 12px;
    }
}

.font-md {
    font-size: 14px;

    @include mq(md) {
        font-size: 15px;
    }

    @include mq(lg) {
        font-size: 16px;
    }
}

.font-lg {
    font-size: 20px;

    @include mq(md) {
        font-size: 25px;
    }

    @include mq(lg) {
        font-size: 36px;
    }

    @include mq(xl) {
        font-size: 42px;
    }
}

.font-xl {
    font-size: 30px;

    @include mq(md) {
        font-size: 36px;
    }

    @include mq(lg) {
        font-size: 42px;
    }

    @include mq(xl) {
        font-size: 60px;
    }
}

.font-xxl {
    font-size: 40px;
    line-height: 1.2;

    @include mq(md) {
        font-size: 60px;
        line-height: 1;
    }

    @include mq(lg) {
        font-size: 70px;
        line-height: 1;
    }
}

/////////////////////////////////////
// margin bottom
/////////////////////////////////////
.mb-sm {
    margin-bottom: 20px;
}

.mb-md {
    margin-bottom: 50px;
}

.mb-lg {
    margin-bottom: 200px;
}

/////////////////////////////////////
// Base setting
/////////////////////////////////////
* {
    @extend .font-md;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $cBlack;
    line-height: 1.6;
}

body {
    width: 100vw;

    &:after {
        z-index: -100;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: linear-gradient(326deg, rgba(255, 245, 226, 1) 33%, rgba(255, 255, 255, 1) 76%, rgba(255, 255, 255, 1) 100%);
    }
}

.body__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: 100vw;
    max-width: 1440px;
    padding: 0 5%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.contents__title {
    @extend .mb-md;

    & h2 {
        @extend .font-xl;
        color: $cBlack;
        position: relative;

        @include mq(lg) {
            margin-left: 10%;

        }

        &::before {
            content: "";
            width: 50px;
            height: 1px;
            position: absolute;
            bottom: 36%;
            left: 0;
            background-color: $cBlack;

            @include mq(md) {
                bottom: 35%;
            }

            @include mq(xl) {
                bottom: 28%;
            }
        }
    }

    & span {
        display: block;
        color: $cBlack;
        @extend .font-md;
    }
}