@use "styles/_globals.scss" as *;

.homeAbout {
    width: 100vw;
    height: auto;
    max-width: 1440px;
    padding-top: 300px;
    padding-left: 5%;
    background-color: red;

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @extend .mb-md;

        &__image {
            background-image: url(/images/Home/catering2.jpg);
            background-size: cover;
            width: 50%;
            height: 50vh;

            @include mq(lg){
                width: 40%;
            }
            @include mq(xl){
                width: 30%;
            }
        }
    }

    &__description {
        position: relative;
        padding-right: 5%;

        &__p {
            @extend .mb-sm;

            @include mq(md){
                width: 45vw;
                margin-left: calc(100% - 50vw);
            }
            @include mq(lg){
                width: 40vw;
                margin-left: calc(90% - 50vw);
            }
        }

        & .lgbutton {
            left: 100%;
            @extend .mb-md;
            transform: translateX(-100%);
        }

        &__inner {
            display: flex;
            justify-content: space-between;
        }

        &__image1 {
            background-image: url(/images/Home/slide_004.png);
            background-size: cover;
            background-position: right;
            width: 37vw;
            height: 40vh;
            margin-left: -6%;

            @include mq(md) {
                width: 25vw;
                height: 30vh;
                position: absolute;
                top: 0;
            }

            @include mq(lg) {
                width: 20vw;
                height: 35vh;
                position: absolute;
                top: 0;
            }
        }

        &__image2 {
            background-image: url(/images/Home/dietician4.jpg);
            background-size: cover;
            width: 50vw;
            height: 20vh;
            margin-top: 10%;
            margin-right: -10%;

            @include mq(md) {
                width: 25vw;
                margin-left: 40vw;
                margin-top: 0;
            }
            @include mq(lg) {
                width: 25vw;
            }
            @include mq(xl) {
                margin-top: 5%;
                height: 28vh;
            }
        }
    }


}